@import '../../assets/mixins';

:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #c51490; --quaternary: #FFF2F2; --grey: #123456;}

.project_container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    margin-bottom: 5rem;
    gap: 1rem;

    // @include breakpoint(medium) {
    //     grid-template-columns: repeat(3, 1fr);
    //  }
}

.project {
    background-color: var(--quaternary);

}