@use '../../assets/mixins' as *;

.proj_container{
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: translateY(-1px);
        opacity: 0.9;
    }
}

.project {
    position: relative;
    justify-content: space-between;
    background-color: var(--quaternary);
    min-height: 125px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); // Subtle shadow

    @include breakpoint(medium) {
       min-height: 170px;
    }

    @include breakpoint(large) {
       min-height: 200px;
    }

    @include breakpoint(xlarge) {
       min-height: 300px;
    }

    h1 {
        top: 15px;
        position: absolute;
        z-index: 1;
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary);
        margin-left: -1rem;
        margin-top: -1.5rem;
    }

    .blurb{
        top: 45px;
        position: absolute;
        z-index: 1;
        margin-top: -1rem;
        font-weight: 400;
    }

    .skills{
        z-index: 1;
        position: absolute;
        font-weight: 500;
        bottom: 0;
    }
        
    img {
        filter: blur(1px);
        -webkit-filter: blur(1px);
        opacity: 0.6;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;  // Makes the image take the full width of the container
        height: 100%; // Ensures it also takes the full height
        object-fit: cover; // Prevents distortion while making sure the entire container is filled
        border-radius: 10px; // Optional: Keeps rounded corners consistent
    }

    @include breakpoint(medium) {
        h1 {
            font-size: 1.5rem;
        }
    }

    @include breakpoint(small) {
        h1 {
            font-size: 1rem;
        }
        .blurb{
            top: 50px;
        }
        h3{
            font-size: 0.8rem;
        }
    }

}

.spacing_container{
    width: 90%;
    margin-left: 5%;
}

.project_grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
    margin-bottom: 5rem;
    gap: 1rem;

    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
     }
}


