.hero-container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(white, gray);
    align-items: center;
    display: flex;
    background-position: center;
    justify-content: center;
}

.hero-text{
    margin-top: -10vh;
    /* background-color: red; */
    text-align: left;
    max-width: 800px;
    margin-left: 30%;
}

.hero-text h1{
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    color: black;
}

.hero-text h2{
    font-size: 20px;
    font-weight: 300;
    color: black;
    line-height: 1.4;
}

hr {
    border: 1px solid black;
}

.btn{
    margin: 8px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    transition: 0.4s ease-in;
    font-size: 17px;
    background: none;
    padding: 2px;
    border: 1px solid black;
    
}

.btn:hover{

} 
   
   