@use '../../assets/mixins' as *;

.proj_container{
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    &:hover {
        transform: translateY(-2px);
        opacity: 0.9;
    }
}

.featured {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: -22px;

    .img_container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 100;
  
      img {
        border-radius: 10px;
        display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;  // Ensure they are stacked
          top: 0;
          left: 0;
          transition: opacity 1.5s ease-in-out;  // Smooth fade transition
      }
  
      .fade-in {
        opacity: 1;
        transform: scale(1);
    }
    
    .fade-out {
        opacity: 0;
        transform: scale(1.00001); // Prevents any visible "jump"
    }
  }

    .text_container{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--quaternary);
        opacity: 1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2px;
        
        h1{
          text-align: left;
          margin-top: -10px;
          font-size: 1rem;
          font-weight: 500;
        }
        
        .blurb{
            margin-top: -0.5rem;
            margin-left: 1rem;
            font-weight: 500;
            margin-bottom: 10px;
            font-size: 0.8rem;
            color: var(--neutral-light)
        }


        @include breakpoint(medium){
          h1{
            font-size: 1.5rem;
          }

          .blurb {
            font-size: 1rem;
          }
        }
        @include breakpoint(large){
          h1{
            font-size: 2.5rem;
          }
          .blurb {
            font-size: 1.3rem;
          }
        }
      }
      @include breakpoint(large){
        height: 500px;
      }
      @include breakpoint(small){
        height: 300px;
      }
}

.skills_feat{
  z-index: 100000;
  font-weight: 500;
  height: 30px;
  margin-left: 10px; 
  display: inline;
}
  
.skill {
  display: inline-block;   /* inline behavior */
  background-color: var(--secondary); /* nice green background, adjust as you like */
  color: white;            /* text color */
  padding: 6px 12px;       /* some padding */
  border-radius: 20px;     /* rounded edges */
  font-size: 0.9rem;
  font-weight: 500;
  user-select: none;       /* optional: prevent text selection */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
  cursor: default;
  margin: 5px 5px;
  z-index: 100000;
  align-items: right;

  @include breakpoint(medium) {
    font-size: 1.3rem;
  }
}

.skill:hover {
  background-color: var(--tertiary); 
}

.skillText {
  margin-top: 6px;
}
