@use '../../assets/mixins' as *;

:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #c51490; --quaternary: #FFF2F2; --grey: #123456;}

nav {
  width: 80%; /* or your desired width */
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* or whatever you want inside */
  margin-left: auto;  /* push nav to the right */
  transition: 0.7s;
  z-index: 1000;
  justify-content: flex-end;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

#upArrow {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 30px;
    font-weight: 1000;
}



.navBut {
    position: relative;
    font-size: 18px;
    border: 0;
    outline: 0;
    background: 0;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all .25s;
    margin: 10px 15px;
    color: var(--primary);
    z-index: 100;
    pointer-events: auto;

    @include breakpoint(medium){
        margin: 15px 30px;
        font-size: 23px;
    }

    @include breakpoint(xlarge){
        margin: 15px 40px;
        font-size: 30px;
    }

}

.navBut:hover{
    letter-spacing: 4px;
    color: white;
    text-decoration: none;

    @include breakpoint(small){
        letter-spacing: 2.5px;
    }
}

