nav {
    width: 100%;
    padding: 5px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: .5s;
    z-index: 1000;
}

.logo {
    width: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 30px;
    font-size: 25px;
}

.dark-nav{
    top: 0;
    background-color: rgb(38, 150, 94);
}