@import '../../assets/mixins'; 

:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #c51490; --quaternary: #FFF2F2; --grey: #123456;}

nav {
    width: 100%;
    padding: 5px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.7s;
    z-index: 1000;
}

.logo {
    width: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--secondary);
}

.navBut {
    font-size: 18px;
    border: 0;
    outline: 0;
    background: 0;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all .25s;
    margin: 5px 20px;
    color: var(--primary);

    @include breakpoint(large){
        margin: 5px 40px;
    }

    @include breakpoint(medium){
        font-size: 22px;
    }

    @include breakpoint(small){
        font-size: 17px;
        margin: 5px 10px;
    }
}

.navBut:hover{
    letter-spacing: 4px;

    @include breakpoint(small){
        letter-spacing: 2.5px;
    }
}

.navBut.dark.active{
    color: black;
}

.dark-nav{
    top: 0;
    background-color: var(--primary);
}

.dark-nav ul li a{
    color: white;
}

.dark-nav ul li a:hover{
    color: var(--tertiary);
}