:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #c51490; --quaternary: #FFF2F2; --grey: #123456;}

nav {
    width: 100%;
    padding: 5px 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    transition: 0.7s;
    z-index: 1000;
}

.logo {
    width: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: var(--secondary);
}

.dark-nav{
    top: 0;
    background-color: var(--primary);
    border-bottom: 1px black solid;
}

.dark-nav ul li a{
    color: white;
}

.dark-nav ul li a:hover{
    color: var(--tertiary);
}