.s-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 80%;
    margin-left: 10%;
    padding: 50px 0px;
    margin-top: 40px;
}

.s-contain h1 {
    color: #2D336B;
    font-size: 2.5rem;
    text-align: left;
    padding: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 12px;
}

.s-contain p{
    color: white;
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 12px;
    padding: 1rem;
}