@use '../../assets/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #7886C7; --quaternary: #FFF2F2;}


#overlay{
    position: fixed;

    @include breakpoint(small) {
        display: none;
    }
}

.icon-links {
    position: fixed;
    left: 12px;
    bottom: 0;
    z-index: 1000;
    display: flex;
}

#overlay .icon-links .icon-logo{
    width: 30px;
    cursor: pointer;
    padding-top: 10px;
    transition: 0.3s;
}

#overlay .icon-links .icon-logo:hover{
    transform: translateY(-4px);
    filter: drop-shadow(0 0 0.1rem black);
}

#overlay .icon-links ul{
    list-style-type: none;
}

#overlay .email-link{
    position: fixed;
    right: -188px;
    bottom: 270px;
    z-index: 1000;
    display: flex;
}

#overlay .email-link a{
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
}


#overlay .email-link p{
    color: #2D336B;
    font-weight: 600;
    transition: 0.3s;
    font-family: "Tajawal", serif;
}

#overlay .email-link p:hover{
    cursor: pointer;
    transform: translateX(-4px);
    filter: drop-shadow(0 0 0.2rem black);
}

.vertical-line1{
    border-left: 2px solid var(--primary);
    height: 120px;
    margin-left: 13px;
}

.vertical-line2{
    position: fixed;
    border-left: 2px solid var(--primary);
    height: 60px;
    margin-right: 13px;
    right: 12px;
    bottom: 0;
}


