:root {--primary: #2D336B; --secondary: #A9B5DF; --tertiary: #c51490; --quaternary: #FFF2F2; --grey: #123456;}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.vertical-timeline-element-content p {
    color: #7886C7;
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1px;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin: 10% auto;
}


.vertical-timeline-element-content.bounce-in {
    background-color: white;
    color: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#description {
    margin: 0 auto;
    width: 100%;
}