@use '../../assets/mixins' as *;

.about {
    background-color: var(--quaternary);
    box-shadow: 0 0 4cqh rgba(0, 0, 0, 0.8);
}

.container {
    display:inline;
}

.text_container {
    width: 100%;
}

.img_container {
    display: inline;
    width: 100%;
    overflow: hidden;
    align-items: center;   // vertical centering
    justify-content: center;    
    
    .photo {
        max-width: 100%;
        max-height: 220px;
        margin-top: 5px;
        object-fit: cover;
        box-shadow: 0 0 2cqh rgba(0, 0, 0, 0.4);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .photo:hover{
        cursor: pointer;

    }
}

@include breakpoint(medium){
    .container {
        display: flex;
    }

    .text_container {
        margin-top: 20px;
        width: 60%;
    }

    .img_container {
        width: 40%;
    }
}


.text_container #blurb {
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    margin-top: 15px;
}
 
.about #blurb p{
    color: var(--primary);
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.8px;
    margin-top: -20px;

    @include breakpoint(large){
        font-size: 1.1rem;
    }

    @include breakpoint(xlarge){
        font-size: 1.3rem;
    }
}

#second_p{
    margin-top: -20px;
}

.resume-button {
    padding: 12px 24px;
    background-color: var(--primary); // Customize or use a color directly
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 999px; // fully rounded
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    width: fit-content;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; // or 'flex-start', etc.
    overflow: hidden; // prevent scrollbars

    @include breakpoint(medium){
        margin-top: 30px;
    }

    @include breakpoint(large){
        margin-top: 10px;
    }

    &:hover {
        background-color: var(--secondary); // Slight hover change
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }
}