.theme-toggle {
  top: -5px;
  position: relative;
  width: 70px;   // wider for smoother slide
  height: 36px;  // taller for bigger circle
  border-radius: 50px;
  background-color: var(--secondary);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  

  .thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    img {
      width: 18px; 
      height: 18px;
      object-fit: contain;
      pointer-events: none; 
      user-select: none;     
      -webkit-user-drag: none; 
    }
  }

  &.dark {
    background-color: var(--primary);

    .thumb {
      transform: translateX(34px); // moves right
    }
  }
}
