@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Color Palette:
White: #FFF2F2
Light Blue: #A9B5DF
Blue: #7886C7
Dark Blue: #2D336B */

body {
    background-image: linear-gradient(white, gray);
}

*{
    font-family: "Tajawal", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: NONE;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 3%;
    padding-right: 3%;
}

.navBut {
    color: black;
    font-size: 22px;
    border: 0;
    outline: 0;
    background: 0;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: all .25s;
}

.navBut:hover{
    color: dimgrey;
    letter-spacing: 4px;
}

.navBut.dark.active{
    color: black;
}


.popup{
    opacity: 0;
    scale: 0.5;
    transition: all 1s;
}

.hidden-right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100px);
    transition: all 1s;
}

.hidden-left{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
}

.show {
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
    scale: 1;
}